{% extends 'base.html' %}
{% load i18n humanize django_bootstrap5 %}

{% block title %}
    {{ tournament.name }}
{% endblock %}

{% block content %}
    <div class="tournament-registration">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <h1>{{ tournament.name }}</h1>

        {% if tournament.is_upcoming %}
            <p>{% trans 'Will be held' %} {{ tournament.start_date }}</p>

            {% if tournament.opened_registration %}
                {% if tournament.is_online %}
                    <p>{% trans 'Registered players' %} {{ tournament.online_tournament_registrations.count }}</p>
                {% else %}
                    <p>{% trans 'Registered players' %} {{ tournament.tournament_registrations.count }}</p>
                {% endif %}
            {% endif %}
        {% else %}
            <p>{% trans 'Held' %} {{ tournament.end_date }}, <a href="{{ tournament.get_url }}">{% trans 'all results' %}</a></p>
        {% endif %}

        {% include 'tournament/_tournament_header.html' %}

        {% if tournament.registration_description %}
            <h3>{% trans 'Description' %}</h3>
            <p>{{ tournament.registration_description|linebreaksbr|urlize }}</p>
        {% endif %}

        {% if tournament.opened_registration %}
            <h3 id="registration">{% trans 'Registration' %}</h3>
            <form class="form" action="{% url 'tournament_registration' tournament.id %}" method="POST">
                {% csrf_token %}

                {% bootstrap_form form %}

                <div class="text-end">
                    <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
                </div>
            </form>
        {% elif tournament.registration_link %}
            <h3>{% trans 'Registration' %}</h3>
            <p><a href="{{ tournament.registration_link }}" target="_blank">{{ tournament.registration_link }}</a></p>
        {% endif %}

        {% if registration_results %}
            <h3 id="players">{% trans 'Participants' %}</h3>
            <div class="table-responsive-sm">
                <table class="table table-hover mt-4">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{% trans 'Name' %}</th>
                        <th scope="col">{% trans 'City' %}</th>
                        {% if tournament.is_online %}
                            {% if tournament.is_majsoul_tournament %}
                                <th scope="col">{% trans 'Majsoul nickname' %}</th>
                            {% else %}
                                <th scope="col">{% trans 'Tenhou.net nickname' %}</th>
                            {% endif %}
                        {% endif %}
                        <th scope="col">{% trans 'Dan' %}</th>
{#                        {% if tournament.display_notes %}#}
{#                            <th scope="col">{% trans 'Team' %}</th>#}
{#                        {% endif %}#}
                    </tr>
                    </thead>
                    <tbody>
                    {% for registration_item in registration_results %}
                        <tr {% if registration_item.is_highlighted %}class="table-success" {% endif %}>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {% if registration_item.player %}
                                    {% with registration_item.player as player %}
                                        {% include 'common/_player_name.html' %}
                                    {% endwith %}
                                {% else %}
                                    {{ registration_item.full_name }}
                                {% endif %}
                            </td>
                            <td>
                                {% if registration_item.player and registration_item.player.city %}
                                    <a href="{% url 'city_page' registration_item.player.city.slug %}">{{ registration_item.player.city.name }}</a>
                                {% elif registration_item.city_object %}
                                    <a href="{% url 'city_page' registration_item.city_object.slug %}">{{ registration_item.city_object.name }}</a>
                                {% else %}
                                    {{ registration_item.city }}
                                {% endif %}
                            </td>

                            {% if tournament.is_online %}
                                <td>{{ registration_item.tenhou_nickname }}</td>
                            {% endif %}

                            <td>
                                {% with registration_item.player as player %}
                                    {% include 'player/_online_account.html' %}
                                {% endwith %}
                            </td>
{#                            {% if tournament.display_notes %}#}
{#                                <td>#}
{#                                    {{ registration_item.notes }}#}
{#                                </td>#}
{#                            {% endif %}#}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block meta_tags %}
    <meta name="description" content="{{ tournament.registration_description|default:tournament.name }}">
    <meta property="og:description" content="{{ tournament.registration_description|default:tournament.name }}">
{% endblock %}
